/* 
For browsers that do not yet support these elements */
section, article, header, footer, hgroup, figcaption, figure{display:block}

/*
RESET ------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var,b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr {margin:0;padding:0;border:0}
table{border-collapse:collapse;border-spacing:0}/* tables still need 'cellspacing="0"' in the markup */
ul{list-style:square inside}
ol{list-style:decimal inside}
.clear{clear:both;visibility:hidden;width:0;height:0}

/* fixes line-height problems created by these nested elements */
p>strong,p>em,p>code{line-height:0px}

/*
TYPOGRAPHY -------------------------*/
body{
	font:100%/1.5em 'Crimson Text', Times, serif;
	color:#262626;
	vertical-align:baseline;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dt,dd{margin-top:24px;text-shadow:0 0 1px #E8E2CF}
p,ul,ol,dt,dd{font-size:1.25em}

h1,h2,h3,h4{font-family:'Raleway', arial, sans-serif}
h2,h3,h4{line-height:48px}
h5,h6{font-weight:bold}

h1{font-size:4em;line-height:72px}
h2{font-size:3em}
h3{font-size:2.25em}
h4{font-size:2em}
h5{font-size:1.5em}
h6{font-size:1.25em;font-style:italic}

a{color:#1b5475;text-decoration:none}
	a:hover{text-decoration:underline}
	a:visited{color:#1b5475}

p+p{text-indent:24px}

ul, ol{margin-left:24px}

dt{font-weight:bold;font-style:italic}
	dd{margin-left:24px}

blockquote {
	display:block;
	margin:24px;
	font-style:italic;
	text-indent:24px;
}
hr{
	display:block;
	clear:both;
	height:1px;
	margin:23px 0px;
	padding:0;
	border-bottom:1px solid #E8E2CF;
	background:#B3AA8D;
}
*:first-child+html hr{
	/* Fix Non-Collapsing vertical margins on IE7*/
	margin:0;
}

/*
LAYOUT -----------------------------*/
html{background:#C4BCA1;height:100%}

body{
	height:100%;

	/*Solid Color for fallback*/
	background:#E8E2CF;

	/*WebKit gradient*/
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #B3AA8D),
		color-stop(.5, #E8E2CF));

	/*Firefox gradient*/
	background:-moz-linear-gradient(
		center bottom,
		#E8E2CF 50%,
		#B3AA8D 100%);

	/*IE gradient*/
	filter:progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#B3AA8D',
		endColorstr='#E8E2CF');
}

.outWrap{height:100%}			/*fills screen*/
.inWrap{position:relative}		/*positions content*/

header,
.main,
.wrap{width:960px;margin:0 auto}/*960+centering*/

	/* Logo */
	.CRNCH{
		font-size:6em;
		line-height:1.5em;
		font-family:'Anton', arial, serif;
		text-align:center;
		text-shadow:2px 2px 2px #ADA690,-2px -2px 2px #EBE4D1;
			/* put logo behind form */
			position:relative;
			z-index:0
		}
		/* Brackets */
		.CRNCH::before,
		.CRNCH::after{
			font-size:1.5em;
			display:inline;
			position:relative;
			line-height:0;
			top:18px
		}
		.CRNCH::before{content:"\005B"}
		.CRNCH::after{content:"\005D"}

footer{
	position:relative;
	box-shadow:inset 0 2px 4px #756F5D;
}
	.fnotes{text-align:center;margin:0;font-size:1em}

/*
COLUMNS ----------------------------*/
.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col1,.col12{margin:0 0 24px;float:left}
/* 24px margin is too much for narrow columns */
.col1,.col2{padding:0 12px} 
/*larger columns can handle it fine */
.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col1,.col12{padding:0 24px} 
	.col1{width:56px}
	.col2{width:136px}
	.col3{width:192px}
	.col4{width:272px}
	.col5{width:352px}
	.col6{width:432px}
	.col7{width:512px}
	.col8{width:592px}
	.col9{width:672px}
	.col10{width:752px}
	.col11{width:832px}
	.col12{width:912px}
.col12{clear:both}
/*
INDEX ------------------------------*/
/*center content vertically*/
.pageIndex .inWrap{top:25%}

/* CRNCH.IT Animation */
@-webkit-keyframes feelthecrunch{
	0%{-webkit-transform:translate(0,-504px)}
	10%{-webkit-transform:rotate(-0deg) translate(0,-504px);-webkit-animation-timing-function:cubic-bezier(1,0,1,0)}
	90%{-webkit-transform:rotate(-5deg) translate(0,0)}
	95%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(-5deg)}
}

.pageIndex .CRNCH{
	font-size:12em;
	line-height:240px;
	/*Starts animation*/
	-webkit-animation-name:feelthecrunch;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
}
	/* fixes brackets positioning */
	.pageIndex .CRNCH::before,.pageIndex .CRNCH::after{top:66px}

/* CRNCH Form*/
.crnchMain{
	display:block;
	width:648px;
	height:48px;
	margin:-24px auto 24px;
	padding-bottom:24px;
	/* put form in front of logo */
	position:relative;
	z-index:10;
}
	.crnchMain input{
		display:block;
		float:left;
		font-size:1em;

		-webkit-border-radius:60px;
		-moz-border-radius:60px;
		border-radius:60px;

		-webkit-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		transition:all .5s ease-in-out;
	}
	.crnchBox{/*TEXTBOX*/
		width:552px;
		height:24px;

		margin:0 12px;
		padding:12px 60px 12px 12px;
		border:none;
		line-height:24px;

		background:#bdb69d;/*fallback*/
		background-color:rgba(46, 35, 35, 0.1);
		color:#666;
	}
		.crnchBox:focus{

			color:#333;
			background:#beb69e;/*fallback*/
			background-color:rgba(46, 35, 35, 0.05);

			outline:none;
		}
	.crnchSub{
		width:48px;
		height:48px;
		border:0;

		margin:0 0 0 -60px;

		background:#5f5b4e;/*fallback*/
		background:rgba(0, 0, 0, .5);
		background-image:url(../img/crnchSub.png);
	}
		.crnchSub:focus{
			outline:none;
			background:rgba(0, 0, 0, .75);
			background-image:url(../img/crnchSub.png);
		}
	.crnchd{display:none}

/*
NON-INDEX Pages --------------------*/
/* Removes vertical centering */
.pageText .inWrap,
.pageStats header{top:0}

.pageText .inWrap,
.pageStats header{padding:24px 0 0}

/*
STATS ------------------------------*/
/* set minimum height for small screens */
.pageStats body,
.pageStats .outWrap{
	min-height:816px;
}

.statLink{
	/* Shows original link */
	margin-top:-24px;
	text-align:right
}
.statName{text-align:center}
.stat{
	display:block;
	width:80%;
	padding:0 12px;
	margin:0 auto;

	text-align:center;
	font-family:'Anton', arial, serif;
	overflow:hidden;
	white-space:nowrap;
	color:#1b5475;
	text-shadow:
		2px 2px 1px #ADA690,
		-2px -2px 1px #EBE4D1;

	background:#c2bba4;/*fallback*/
	background:rgba(0, 0, 0, .05);

	box-shadow:2px 2px 2px #FAF6E8,-2px -2px 2px #ADA690;

	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	border-radius:24px;

	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
	.stat:hover{
		color:#593C63;

		background:#cac3aa;/*fallback*/
		background:rgba(0, 0, 0, .01);

		-webkit-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		transition:all .5s ease-in-out;
	}
.statNormal{
	font-size:60px;
	line-height:120px;
}
.statLarge{
	font-size:96px;
	line-height:120px;
}

/*
TEXT -------------------------------*/
/*for pages with a lot of text*/
.pageText html{height:auto}
.pageText body{
	height:auto;
	background:#E8E2CF !important;
	filter:none;
	min-height:100%;
}